.main-grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr;
    grid-template-rows: 1fr 3.6fr 6fr 4.1fr 1.3fr;    
    grid-template-areas: "main-header main-header main-header" 
                         "block21 block21 block22" 
                         "block3 block3 block3"
                         "block40 block41 block41"
                         "footer footer footer";                   
    height: 500vh;
    background-color:black; /**/
    color: white;
}


body {
    margin: 0px; 
}

.main-header{
    grid-area: main-header;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}


.navigation {
  float: right;
  font-family: 'Caveat', cursive;
  font-size: larger;
  font-weight: bold;
}

.navigation ul {
margin: 0;
padding-right: 20px;
list-style: none;
list-style-type: none;
background-color: transparent;
}

ul li {
display: inline-block;
}
    
ul li a {
display: block;
color: white;
padding: 10px;
}


.p-text {
  padding: 1.5em;
}

i {
  font-size: 1.7em;
  padding: 0em 2em;
}

a {
  color: white;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-size: 140%;
  color: gray; 
}

a:visited {  
  text-decoration: none;
}

h1 { 
  font-family: 'Caveat', cursive;
  font-size: 4em;
  padding: 1em;
  text-align: center;
  color: white;
}


/* Debería elegir segundas opciones en textos */
div > p {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.25em;
  line-height: 1.7em;
  text-align: center;
}

.block21{
    grid-area: block21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block22{
    grid-area: block22;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;  
}

.block3{
    grid-area: block3;
}

.block40{
    grid-area: block40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block41{
    grid-area: block41;
}


.item{
    background-color: transparent;
    padding: 10px;
    color: white;
    background-color: black;
}


.grid-container-gallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  margin: 2em;
}

.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute; /**/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: transparent; /*rgba(90,0,10,0.4); */
  color: white;
  font-family: 'Caveat', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

footer{
  grid-area: footer;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  background-image: linear-gradient(to top, gray, black);
  padding-bottom: 0;
  padding-top: 2em;
}

.block22 > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 } 

 .opinion-1 {
  text-align: left;
   width: 60%;
}

.opinion-2 {
  text-align: right;
  margin-left: 6em;
}

.opinion-3 {
  text-align: left;
   width: 75%;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* MEDIA QUERIES */

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px){
  .main-grid-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: .4fr 4fr 4fr 4fr 4fr 4fr 4fr; 
      grid-template-areas: "main-header"
                           "block21" 
                           "block22"
                           "block3"
                           "block40"
                           "block41"
                           "footer";
    height: 650vh; 
  }
  .logo-nav-container {
    display: flex;
    padding: 1em;
    flex-direction: column;
    text-align: center;    
  }


}
 

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px){
  .main-grid-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: .4fr 4fr 4fr 4fr 4fr 4fr 4fr; 
      grid-template-areas: "main-header"
                           "block21" 
                           "block22"
                           "block3"
                           "block40"
                           "block41"
                           "footer";
    height: 650vh; 
  }

  .logo-nav-container {
    display: flex;
    padding: 2em;
    flex-direction: column;
    text-align: center;    
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5.5em;
    padding-bottom: 0;
    padding-top: 2em;  
  }
  
  .opinion-1 {
    text-align: left;
     width: 80%;
  }
  
  .opinion-2 {
    text-align: right;
    margin-left: 2em;
  }
  
  .opinion-3 {
    text-align: left;
     width: 95%;
  }  

}


