.grid-container{
    display: grid;
    grid-template-columns: 2.5fr 3.5fr;
    grid-template-rows: .3fr 3.7fr 4fr 2.9fr 1.1fr;    
    grid-template-areas: "main-header main-header" 
                         "block21 block22" 
                         "block3 block3"
                         "block4 block4"
                         "footer footer";                   
    grid-gap: 2px;
    height: 300vh; 
    background-color: white;
}

.main-header{
    grid-area: main-header;
    background: gray;
	color: white;
	width: 100%;
	left: 0;
	top: 0;
}

.logo-nav-container {
    display: flex;
    justify-content: space-around;
}

nav {
	float: right;
    font-family: Sofia;
    padding-top: 2em;
}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
        list-style-type: none;
        background-color: transparent;
	}
	
		nav ul li {
			display: inline-block;
		}
			
			nav ul li a {
				display: block;
                color: white;
				padding: 10px;
				text-decoration: none;
			}

a:link {text-decoration: none;}
a:hover {font-size: 125%;}
a:visited {text-decoration: none;}



.block21{
    grid-area: block21;

}

.block22{
    grid-area: block22;
}

.block3{
    grid-area: block3;
}

.block4{
    grid-area: block4;
}

.footer{
    grid-area: footer;
}

.item{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
/*
.grid-container > div {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
  }
*/

