/**/
.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 6fr 1.5fr;
    grid-template-areas: "main-header main-header" 
                         "block1 block2"
                         "footer footer";                   
    height: 250vh; 
    background-color: black;
    color: white;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* ESTILOS FILE TIPS */

.main-grid-container-tips{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .8fr 6fr 1fr;
  grid-template-areas: "main-header " 
                       "block"
                       "footer";                   
  height: 200vh; 
  background-color: black;
  color: white;
}

.gallery-video {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

iframe {
  overflow: hidden;
  padding: 2em 5em;
  border-radius: 10px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/



/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* ESTILOS FILE SOBRE NOSOTROS */

.block2-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

img {
  border-radius: 5px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/



/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* ESTILOS FILE CONTACTO */

textarea:focus {
  background-color: lightgrey;    
}

input:focus {
  background-color: lightgrey;    
}

form {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
    margin-left: 5em;
    color: white;
}

input {
    font-family: 'Caveat', cursive;
}

input {
  width: 170%;
  padding: 7px 5px;
  box-sizing: border-box;
  border: 2px;
  border-radius: 5px;
}

textarea {
  width: 170%;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}

form > b {
    color: red;
    font-size: .7em;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]:hover {
  background-color: red;
}

.block1-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block2-contacto {
  display: flex;
  justify-content: left;
  align-items:center;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* ESTILOS COMPARTIDOS */

.p-text {
    padding: 1.5em;
    color: white;
  }
  
i {
    font-size: 1.7em;
    padding: 0em 2em;
  }
  
a {
    color: white;
    font-family: 'Caveat', cursive;
    font-weight: bold;
  }
  
body {
    margin: 0px; 
}

.main-header{
    grid-area: main-header;
}

.block1{
    grid-area: block1;
}

.block2{
    grid-area: block2;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.navigation {
	  float: right;
    font-family: 'Caveat', cursive;
    font-size: larger;
    font-weight: bold;
}

.navigation ul {
  margin: 0;
  padding-right: 20px;
  list-style: none;
  list-style-type: none;
  background-color: transparent;
}
	
ul li {
  display: inline-block;
}
			
ul li a {
  display: block;
  color: white;
  padding: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-size: 140%;
  color: gray; 
}

a:visited {  
  text-decoration: none;
}

h1 { 
  font-family: 'Caveat', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
}

div > p {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.25em;
    line-height: 1.7em;
    text-align: center;
  }

footer{
    grid-area: footer;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    background-image: linear-gradient(to top, gray, black);
}



/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px){
     .main-grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 3fr 3fr 1.5fr; 
      grid-template-areas: "main-header"
                           "block2" 
                           "block1"
                           "footer";   
      height: 250vh;                 
  }

  .logo-nav-container {
    display: flex;
    padding: 1em;
    flex-direction: column;
    text-align: center;    
  }
  

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px){
  .main-grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 3fr 3fr 5fr;
    grid-template-areas: "main-header"
                         "block2" 
                         "block1"
                         "footer";   
    height: 250vh;                 

}

.logo-nav-container {
  display: flex;
  padding: 2em;
  flex-direction: column;
  text-align: center;    
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5em;
}

}
